* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary : #260101;
    --secondry : #F2C12E;
    --body : #400101;
    --text : #F24822;
}

.hero-image {
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
}

.hero-text h1 {
    color: orange;
}

.body-color {
    width: 200px;
    height: 270px;
    /* background-color: var(--body); */
    border: 1px solid #fff;
    margin: 0 auto;
}

.body-color ul {
    color: #fff;
    list-style: none;
    word-spacing: 10px;
    text-align: center;
    margin: 0 auto;
}
